<div id="dashboard">

	<h1 class="md-display-2">Dashboard</h1>

	<div class="slider">
		<p class="md-body-1">Use the slider below to send a POST request to <code>/count</code> with the parameter <code>percent</code>. This will let you test the API while I finish the character counter.</p>
		<md-slider flex ng-model="countPercent" step="1" min="0" max="100" aria-label="Count Percent"></md-slider>
	</div>

	<h3 class="md-title">{{ countPercent || 0 }}%</h3>

	<div class="box">
		<div class="white" style="opacity: {{ countPercent / 100}};"></div>
	</div>

</div>
